###################################
# ROS 2 / Colcon
###################################
build/
install/
log/

# Colcon metadata
.colcon/
.colcon_ignore

###################################
# CMake
###################################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

###################################
# Python
###################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

###################################
# VSCode
###################################
.vscode/

###################################
# JetBrains / CLion
###################################
.idea/

###################################
# OS files
###################################
.DS_Store
Thumbs.db

###################################
# Logs
###################################
*.log

###################################
# Temporary files
###################################
*.swp
*.swo
*~